<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.myfirstwebsite.repository.mybatis.PostMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into post(member_id, title, description)
        values (#{memberId}, #{title}, #{description})
    </insert>

    <update id="update">
        update post
        set title=#{updateParam.title},
            description=#{updateParam.description}
        where id = #{id}
    </update>

    <select id="findById" resultType="Post">
        select post_id, member_id, title, description
        from post
        where post_id = #{id}
    </select>

    <select id="findAll" resultType="Post">
        select post_id, member_id, title, description, created_Date
        from post
        <where>
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="name != null and name != ''">
                and member_id in(
                    select id
                    from member
                    where name like concat('%', #{name}, '%')
                )
            </if>
        </where>
    </select>

</mapper>