<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<h2>게시물</h2>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>저자</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${post.title}"></td>
        <td th:text="${post.description}"></td>
        <td th:text="${post.author}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/community">Community</a>
</div>
<div th:if="${loginUser}">
    <form th:action="@{~/deletePost}" method="post">
        <input type="hidden" name="postId" th:value="${postId}" />
        <button type="submit">삭제</button>
    </form>
</div>
</body>
</html>
